<!doctype html>
<html>
<head>
  <title>Profile</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="lab5prof.js"></script>
  <style type="text/css">
    span.finished { cursor: pointer; color: blue; text-decoration: underline; }
  </style>
</head>

<body ng-app="lab5prof" ng-controller="MainCtrl">
<div class="page-header"> 
  <h1>Wovyn Profile</h1>
</div>

<div class="col-md-8 col-md-offset-2">
<div id="contentBox" style="margin:0px auto; width:90%">

<div id="column1" style="float:left; margin:0; width:50%">
<h2>Current Profile</h2>
<div class="row">
  <p>Current location: {{ location }}</p>
  <p>Current name: {{ name }}</p>
  <p>Current threshold: {{ threshold }}</p>
  <p>Current phone: {{ phone }}</p>
</div>
</div>
<div id="column2" style="float:left; margin:0; width:50%">
<h2>Update Profile</h2>
<div class="row">
  <form ng-submit="postInfo()" style = "margin-top:30px;">
    <p><label>New location: <input type="text" ng-model="temp_loc" placeholder="location"></input></label></p>
    <p><label>New name: <input type="text" ng-model="temp_nam" placeholder="name"></input></label></p>
    <p><label>New threshold: <input type="text" ng-model="temp_thresh" placeholder="threshold"></input></label></p>
    <p><label>New phone number: <input type="text" ng-model="temp_phone" placeholder="phone"></input></label></p>
    <button type="submit">update profile</button>
  </form>
</div>
</div>
</div>
</body>
</html>