<!doctype html>
<html>
<head>
  <title>Temperatures</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="lab5.js"></script>
  <style type="text/css">
    span.violation { cursor: pointer; color: red; }
  </style>
</head>

<body ng-app="lab5" ng-controller="MainCtrl">

<div class="col-md-8 col-md-offset-2">
  <div id="contentBox" style="margin:0px auto; width:90%">

  <div id="column1" style="float:top; margin:0; width:100%">
    <h1>Current Temperature</h1>
    <ul>
      <li ng-repeat="x in current_temp">
        {{ x.timestamp + ':  ' + x.temperature + 'F' }}
      </li>
    </ul>
  </div>

  <div id="column2" style="float:top; margin:0; width:100%">
    <a href="lab5prof.html" target="_blank">View/Edit Profile</a>
  </div>

  <div id="column3" style="float:left; margin:0; width:50%">
    <h2>Recent Temperatures</h2>
    <ul>
      <li ng-repeat="x in temperatures">
        {{ x.timestamp + ':  ' + x.temperature + 'F' }}
      </li>
    </ul>
  </div>

  <div id="column4" style="float:left; margin:0; width:50%">
    <h2>Recent Violations</h2>
    <ul>
      <li ng-repeat="x in violations">
        {{ x.timestamp + ':  ' + x.temperature + 'F' }}
      </li>
    </ul>
  </div>

  </div>
</div>
</body>
</html>